@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.email_conf_main {
    min-height: calc(100vh - 120px);
}

@media (min-width: 640px) {
  .email_conf_main {
      min-height: calc(100vh - 136px);
  }
}

@media (min-width: 768px) {
  .email_conf_main {
      min-height: calc(100vh - 140px);
  }
}

.post_markdown h1 {
  @apply my-4 md:mb-8 text-3xl md:text-4xl xl:text-5xl font-bold
}
.post_markdown h2 {
  @apply my-3 md:mb-6 text-xl md:text-2xl xl:text-3xl font-semibold
}
.post_markdown h3 {
  @apply my-2 md:mb-4 text-lg md:text-xl xl:text-2xl font-semibold
}
.post_markdown h4 {
  @apply my-1 md:mb-2 md:text-lg xl:text-xl font-medium
}


.post_markdown p {
  @apply mb-4 md:mb-8 xl:mb-12
}

.post_markdown a {
  @apply text-blue-500 hover:underline
}

.post_card_markdown h1 {
  @apply md:text-lg xl:text-xl font-semibold
}

::-webkit-scrollbar {
  @apply w-1 md:w-2
}

::-webkit-scrollbar-thumb {
  background-color: #C23364;
}

::-webkit-scrollbar-track {
  background-color: #353D46;
}

.scrollBox::-webkit-scrollbar-track {
  background: transparent;
}

.scrollBox::-webkit-scrollbar {
  @apply w-0.5 md:w-1
}

.scrollBox::-webkit-scrollbar-thumb {
  @apply rounded md:rounded-lg
}

.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
