@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.email_conf_main {
    min-height: calc(100vh - 120px);
}

@media (min-width: 640px) {
  .email_conf_main {
      min-height: calc(100vh - 136px);
  }
}

@media (min-width: 768px) {
  .email_conf_main {
      min-height: calc(100vh - 140px);
  }
}
