@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.email_conf_main {
    min-height: calc(100vh - 120px);
}

@media (min-width: 640px) {
  .email_conf_main {
      min-height: calc(100vh - 136px);
  }
}

@media (min-width: 768px) {
  .email_conf_main {
      min-height: calc(100vh - 140px);
  }
}

.post_markdown h1 {
  @apply mb-4 text-3xl md:text-4xl xl:text-5xl font-bold
}

.post_markdown p {
  @apply mb-4 md:mb-8 xl:mb-12
}

.post_markdown a {
  @apply text-blue-500 hover:underline
}

.post_card_markdown h1 {
  @apply md:text-lg xl:text-xl font-semibold
}
